#post-settings-user {
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#post-settings-user-newsfeed {
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
#post-settings-no-user {
    width: 400px;
    height: 125px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.post-setting-tab {
    border: var(--sp-border);
}
.post-setting-tab button {
    all: unset;
}

.confirm-delete {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.delete-pop-background {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background: white;
    width: 400px;
    height: 200px;
    border-radius: 5px;
}

.delete-pop-background button {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-pop-background h3, .delete-pop-background p {
    width: 100%;
    text-align: center;
}

button.delete {
    border-top: var(--sp-border);
    border-bottom: var(--sp-border);
}
.delete b{
    color: #ED4956;
}

.modal-border {
    border-radius: 10px;
}
