#footer {
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 2;
}
#technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    gap: 25px;
    white-space: normal;

}
#technologies p {
    white-space: normal;
    font-size: small;
    color: #e8e8e8;
}
#my-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 10;
}
#my-links img {
    width: 30px;
    height: 30px;
}
