#edit-post {
    display: flex;
    flex-direction: column;
    height: 70vh;
}
#edit-post-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--sp-border);
}
#edit-post-header button {
    all: unset;
    margin: 20px;
}
.done-button {
    color: #0095f6;
    background-color: pink;
}

#edit-post-modal {
    width: 120vh;
    height: 80vh;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
}
#edit-post-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(250, 250, 250);
}
#edit-post-left img {
    width: 100%;
    height: auto;
}
#edit-post-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    overflow-x: hidden;
    border-left: var(--sp-border);
}
#edit-post-top-bar {

}
#edit-post-top-bar img {
    height: 32px;
    width: 32px;
    margin: 15px;
}
#edit-caption {
    height: 168px;
    resize: none;
    border: none;
    padding: 6px 16px;
}
#edit-caption:focus {
    outline: none;
}
.text-counter {
    width: 100%;
}
.text-counter p {
    float: right;
}
