#profile-page {
    margin: auto;
    width: 975px;
    box-sizing: border-box;
}
.profile-info {
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin: auto;
    padding-bottom: 20px;
    border-bottom: var(--sp-border);
}

.profile-image {
    margin-left: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.main-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 0;
}
.main-tab button {
    all: unset;
    height: 30px;
    cursor: pointer;
}
.edit-profile button{
    border: var(--sp-border);
    height: 16px;
    border-radius: 3px;
    padding: 5px 10px;
}
.middle-tab {
    margin-bottom: 15px;
}
.bio-tab {
    margin-left: 20px;
}

.divider {
    width: 33%;
}

/*  */

#posts-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -1px;
    gap: 5px;
    width: 80px;
    border-top: solid 1px black;
}

/* Area that displays all post images */

#all-posts {
    width: 976px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    margin: auto;
}
.single-post-image img{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 293px;
    height: 293px;
    object-fit: cover;
    margin: auto;
}
