/* TODO Add site wide styles */
* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
html {
    --sp-border-color: rgb(219, 219, 219);
    --sp-border: solid 1px var(--sp-border-color);
    --sp-button-blue: #0095f6;
    --sp-input-background: #e8f0fe;
    --sp-post-button-color: #0095f6;
}
.logo-name {
    all: unset;
    font-family: 'Billabong', sans-serif;
    font-size: 30px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}



#app {
    margin-top: 80px;
}
input:focus {
    outline: none;
}
